:root {
    --primary-color: #1b1c1e;
    --secondary-color: #f5f2fe;

}


body {
    background-color: var(--primary-color);
    max-width: 1900px;
    border: 200px;
    padding: 0px;
    overflow-x:hidden;
       
}


h1,
h4 {
    color: var(--secondary-color);
    position: relative;
    bottom: -320px;
    left: 40px;
}



h4 {
    font-weight: 400;
}

.navigation-links {
    display: flex;
    margin-top: 30px;
    justify-content:left;
    position: relative;
    bottom: -300px;
    left: 40px;

}
.contact-link {
    background:linear-gradient(90deg, rgba(248, 118, 97, 1) 0%, rgba(160, 143, 249, 1) 35%, rgba(247, 80, 106, 1) 100%);
    box-shadow:black;
    color: white; 
    text-decoration:none;
    padding: 15px;
    border-radius: 12px;

}
svg {
    position: relative;
    top: -200px;
    right: -600px;
    width: 600px;

}

img{
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

h2{
    font-size:xx-large;
    text-align: center;
    color: white;
    

}

#container{
border: 1px;
width: 300px;
height: 100px;
padding: 10px;
margin: 5px;
position: sticky;
}

#myCarousel{
    height: 300px;
    width: 65%;
    padding: 0px;
    
}


#myCarousel.carousel.slide{
        width: 500px;
        margin: auto;
        padding: 0%;
        border: 10px;
}


#carousel-inner{
position: relative;
    top: 40px;
    left: 400px;
}

ol{
    position: static;
top: 520px; right: 120px;
}
#ab{
    text-align: center;
    top: 5px;
    left: 5px;
    padding: 10px;
    font-family: 'work sans',sans-serif;
}

p{
    color: white;
    font-family: 'lato',sans-serif;
    padding: 10px;
}

h3{color:white;
   text-align: center;}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.email-link {
   
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: none;
    color: orange;
}
#contact-header{
    text-align: center;
    top: 10px;
    left: 0px;
    font-family:' Tahoma', Geneva, Verdana, sans-serif;
}
#contact{
    text-align: center;
}

a{
    text-decoration: none;
}
a:hover{
    color: orange;
}
#platform-link{
    text-align: center;
    
}
#wave{
    position: absolute;
        bottom: 0;
        left: 0;
        top: 330px;
        width: 100%;
        
}

#waveab{
    position: absolute;
        bottom: 0;
        right: 0px;
        top: 500px;
        width: 100%;
        height: 290px;

}